// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    height: 100%
}

body {
    height: 100%
}

.btn {
    font-size: 13px;
    padding: 4px 10px
}

form .btn {
    min-width: 60px;
}

form .btn-secondary {
    margin-left: 7px;
}

.page-title {
    color: #4c4c4c;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
}

.dv-section {
    background: white;
    box-shadow: 1px 5px 4px -5px rgba(0,0,0,0.75);
    padding: 16px;
}