// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    height: 100%
}

body {
    height: 100%
}

.btn-primary {
    font-size: 13px;
    padding: 4px 10px
}

.page-title {
    color: #4c4c4c;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
}